body {
  background-image: url("../imagenes/background-6.png");
  background-repeat: repeat;
  font-smooth: antialised;
}

.logo-image {
  height: 30px;
}

.height-2-lines {
  height: 3.5rem;
}

.page-content {
  margin-top: 120px;
}

.image-container {
  height: 250px;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
}

#carrito {
  right: 0;
  top: 120%;
}

#carritoList .col-img {
  width: 30px !important;
  padding: 0;
}

#carritoList .col-precio {
  width: 50px !important;
  padding: 0;
}

#carritoList img {
  width: 100%;
  max-height: 30px;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

.btnRemove {
  position: absolute;
  width: inherit;
  top: 50%;
  right: -22px;
  padding: 0;
  transform: translate(0, -50%);
  color: red;
  border: none;
  background: none;
}

/* BOOTSTRAP OVERWRITES */
.nav-pills button.active, .nav-pills .show > button {
  color: #343a40;
  background-color: #ced4da;
}

.nav-pills button {
  color: #0d6efd;
}